<div>
  <div class="container">
    <div class="todo">
      Zadania do wykonania: {{tasksList.length}}
    </div>
    <div class="done">
      Zadania wykonane: {{tasksDone.length}}
    </div>
  </div>
  <div class="container">
    <div>
      <input [(ngModel)]="newTask">
      <button (click)="add()">Dodaj</button>
    </div>
  </div>

  <div class="container">
    <div>
      <ng-container *ngIf="tasksList.length > 0; else noTask">
        <div *ngFor="let task of tasksList">
          {{task}}
          <button (click)="remove(task)">Usuń</button>
          <button (click)="done(task)">Zrobione</button>
        </div>
      </ng-container>
      <ng-template #noTask>Brak zadań, masz czas wolny!</ng-template>
    </div>
    <div>
      <div *ngFor="let done of tasksDone">
        {{done}}
      </div>
    </div>
  </div>
</div>
