<perfect-scrollbar>
  <div class="container no-flex">
    <h2>Lista zadań</h2>
    <app-counters></app-counters>
  </div>
  <div class="container">
    <app-add-task></app-add-task>
  </div>
  <div class="container">
    <button [ngClass]="'btn primary'" routerLink="todoTask" routerLinkActive="active">Do wykonania</button><button routerLink="doneTask" [ngClass]="'btn primary'" routerLinkActive="active">Wykonane</button>
    </div>
  <div class="container no-flex">
    <router-outlet></router-outlet>
  </div>
  <div class="container">
    <button [ngClass]="'btn btn-info'" (click)="save()">Zapisz</button>
  </div>
  <div class="container no-flex">
    <app-archive></app-archive>
  </div>
</perfect-scrollbar>
