<h3>Zadania do wykonania</h3>
      <ng-container *ngIf="tasksList.length > 0; else noTask">
        <div class="sort-buttons">
          <a class="alpha-btn" (click)="sortBy('alpha')">Sortuj alfabetycznie</a><a class="date-btn" (click)="sortBy('date')">Sortuj wg dat</a>
        </div>
        <div *ngIf="sort == 'alpha'">
          <div appDate [date]="task.created" *ngFor="let task of tasksList | sortName; let odd = odd" class="task"  [ngClass]="{'odd-li' : odd, 'last-li' : tasksList.length == 1}">
            {{task.name | transformTask: '!'}}
            <button type="button" class="btn btn-danger" (click)="remove(task)">Usuń</button>
            <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
          </div>
        </div>
        <div *ngIf="sort == 'date'">
          <div appDate [date]="task.created" *ngFor="let task of tasksList; let odd = odd" class="task"  [ngClass]="{'odd-li' : odd, 'last-li' : tasksList.length == 1}">
            {{task.name | transformTask: '!'}}
            <button type="button" class="btn btn-danger" (click)="remove(task)">Usuń</button>
            <button type="button" class="btn btn-success" (click)="done(task)">Zrobione</button>
          </div>
        </div>
      </ng-container>
      <ng-template #noTask>Brak zadań, masz czas wolny!</ng-template>
