/* You can add global styles to this file, and also import other style files */
html, body{
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-family: cursive !important;
}

body{
  padding: 20px 20px 0;
  background: url(background.jpeg);
}

.task{
  background: lightgray;
  margin: 5px;
  padding: 3px 4px 9px 7px;
  box-shadow: 0px 2px 5px rgba(0,0,0,.4);
}

.odd-li{
  background: lavender;
  margin: 5px;
}

.btn{
  padding: 2px 5px !important;
  margin: 0px 0px 0px 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
}

button, select {
  text-transform: uppercase !important;
}


h1, h2, h3{
  text-align: center;
}

.container{
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
  border: 1px solid #ccc;
  margin: 10px auto;
  box-shadow: 0px 2px 5px rgba(0,0,0,.3);
  background: rgba(255,255,255,.8);
}

@media screen and (min-width: 768px){
  .container{
    display: flex;
  }
}

.no-flex{
  display: block !important;
}

.active p{
  position: absolute;
  background: #fff;
  padding: 8px;
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);
  opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.popup-bg{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0,0,0,.8);
  background-image: url(../src/assets/thumb.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.popup{
  position: absolute;
  width: 90%;
  text-align: center;
  top: 45%;
  background: rgba(255,255,255,0.77);
  right: 20px;
  padding: 50px 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.6);
}

.popup h2{
  margin-bottom: 25px;
}

.sort-buttons a{
  cursor: pointer;
}

.date-btn{
  float: right;
}

/* nice scroll */
.ps__thumb-y {
  background-color: rgba(0,0,0,.3) !important;
}

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover, .ps .ps__rail-x:focus, .ps .ps__rail-y:focus, .ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking{
  background-color: transparent !important;
  width: 6px !important;
}

.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y, .ps__rail-y.ps--clicking .ps__thumb-y{
  width: 6px !important;
  background-color: rgba(0,0,0,.5);
}

.ps--active-x > .ps__rail-x, .ps--active-y > .ps__rail-y {
  background-color: transparent !important;
}
